<%- include('../partial/header')%>
<form action="/flights/<%=flight._id%>/tickets/new" method="POST">
    <label>Seat</label>
    <input placeholder="A-F 1-9 ex:A9" pattern="[A-F][1-9]\d?" class="form-control" name="seat">
    <label>Price</label>
    
    
    <div class="input-group">
            <input placeholder="price" type="number" class="form-control" name="price">
            <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Add Ticket</button>
            </div>
        </div>
</form>
</body>
</html>